<h2 class="text-center">Favoritos</h2>
<div class="row mb-5">
  <div *ngFor='let equipo of equiposFav'>
    <div class="col-6">
      <div class=" mt-6 mb-6 ml-6 mr-6 p2" style="width: 11.5rem;">
        <a [routerLink]="['/equipo', equipo.idTeam]">
          <img [src]="equipo.strTeamBadge" class="mt-3" alt="Escudo Del Equipo" style="width: 10.5rem;">
        </a>
        <h5 class="text-center">{{ equipo.strTeam }}</h5>
      </div>
    </div>
  </div>
</div>

<h2 class="text-center">Lista de Equipos</h2>
<div class="row">
  <div *ngFor='let equipo of equipos'>
    <div class="col-6">
      <div class=" mt-6 mb-6 ml-6 mr-6 p2" style="width: 11.5rem;">
        <a [routerLink]="['/equipo', equipo.idTeam]">
          <img [src]="equipo.strTeamBadge" class="mt-5" alt="Escudo Del Equipo" style="width: 11.5rem;">
        </a>
        <h5 class="text-center">{{ equipo.strTeam }}</h5>
        <div class="text-center">
          <button (click)="agregaAFavoritos(equipo.idTeam)" class="btn btn-danger"><i class=" fas fa-heart"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>

