<h2 class= "text-center">Tabla de posiciones</h2>
<div class="container mt-4">
  <table class="table table-hover table-bordered">
    <thead>
      <th class="bg-info text-center">Equipo</th>
      <th class="bg-info text-center">Jugados</th>
      <th class="bg-info text-center">Goles a Favor</th>
      <th class="bg-info text-center">Goles en Contra</th>
      <th class="bg-info text-center">Diferencia de Goles</th>
      <th class="bg-info text-center">Ganados</th>
      <th class="bg-info text-center">Empatados</th>
      <th class="bg-info text-center">Perdidos</th>
      <th class="bg-info text-center">Total</th>
    </thead>
    <tbody>
      <tr *ngFor='let t of table'>
        <td>{{t.name}}</td>
        <td>{{t.played }}</td>
        <td>{{t.goalsfor }}</td>
        <td>{{t.goalsagainst }}</td>
        <td>{{t.goalsdifference }}</td>
        <td>{{t.win }}</td>
        <td>{{t.draw }}</td>
        <td>{{t.loss }}</td>
        <td>{{t.total  }}</td>
      </tr>
    </tbody>
  </table>
</div>
